<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>371913801246-i8g0psc37to9vkrd2mjk11ueitom4ipp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.371913801246-i8g0psc37to9vkrd2mjk11ueitom4ipp</string>
	<key>API_KEY</key>
	<string>AIzaSyBilDA8jrQ_SsCvGTfPRHqh6ifPr95XsCo</string>
	<key>GCM_SENDER_ID</key>
	<string>371913801246</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.coraysong.cn.Instagram</string>
	<key>PROJECT_ID</key>
	<string>flashchat-a176b</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-a176b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:371913801246:ios:e07a4deb863b915d</string>
	<key>DATABASE_URL</key>
	<string>https://flashchat-a176b.firebaseio.com</string>
</dict>
</plist>